.phanmemdownload{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    background-color: transparent;
    backdrop-filter: blur(10px);
    text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red;
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 20px;
    border: 1px solid rgb(64, 0, 124);
}
.phanmemdownload:hover{
    border-color: red;
}
.phanmemdownload div:hover{
    color: red;
}
.phanmemdownload div{
    font-size: 25px;
    color: rgb(255, 255, 255);
}
.phanmemdownload img{
    width: 70px;
    border-radius: 20px;
}

@media (orientation: portrait) {
    .phanmemdownload{
        margin-left: 10%;
        margin-right: 10%;
        background: linear-gradient(45deg, blue, purple);
    }
}