.aDownload{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-right: 30%;
    margin-left: 30%;
    gap: 10px;
    text-decoration: none;
}
.aDownload img{
    width: 70px;
    height: 70px;
}
.aDownload button{
    width: 100vh;
    text-decoration: none;
    color: white;
    font-size: 150%;
    background: transparent;
    backdrop-filter: blur(10px);
    text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red;
}
.aDownload button:hover{
    color: red;
    border-color: red;
}
.divVideoHelp{
    margin-top: 50px;
    text-align: center;
    color: white;
    text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red;
    font-size: 200%;
}
.divVideoHelp iframe{
    width: 70%;
    height: auto;
    max-width: 1000px;
    aspect-ratio:16/9 ;
}
.divTitle{
    margin-top: 70px;
    margin-bottom: 40px;
    text-align: center;
    color: white;
    font-size: 200%;
    text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red;
}
.spaceTop{
    margin-top: 150px;
}