.DisplayLandscape {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    backdrop-filter: blur(10px);
    border-bottom:2px solid black ;
}
.DisplayLandscape ul {
    display: flex; /* Hiển thị ngang */
    justify-content: space-between; /* Cách đều các mục */
    list-style: none; /* Xóa dấu chấm */
    padding: 0;
    margin: 0;
}
.DisplayLandscape ul li {
    padding: 15px 10%; /* Tăng khoảng cách */
}
.DisplayLandscape a {
    color: rgb(255, 255, 255);
    text-decoration: none; /* Bỏ gạch chân */
    font-size: 120%;
    padding: 1px;
}

.DisplayLandscape a:hover {
    color: rgb(255, 0, 0); /* Đổi màu khi di chuột vào */
}

.aAvatar{
    text-decoration: none;
    position: fixed;
    right: 40px;
    bottom: 20px;
    width: 15%;
    height: auto;
    max-width: 80px;
}

.aAvatar img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.aAvatar div {
    color: white;
    text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red;
    text-align: center;
    font-size: 125%;
}

@media (orientation: portrait) {
    .DisplayLandscape {
        top: -100px;
    }

    .menu-btn {
        top: 15px;
        left: 15px;
        position: fixed;
        cursor: pointer;
        font-size: 20px;
        padding: 9px 15px;
        background-color: rgb(90, 0, 207);
        border-radius: 20%;
        color: white;
    }

    .DisplayPortrait {
        position: fixed;
        z-index: 100;
        top: 0px;
        left: -220px;
        height: 100vh;
        width: 220px;
        backdrop-filter: blur(15px);
        transition: left 0.3s ease-in-out;
    }

    .spaceTop {
        margin: 50px;
    }
    
    .DisplayPortrait a {
        display: block;
        color: white;
        text-decoration: none;
        padding: 15px 20px;
        font-size: 30px;
    }

    .menu-off-btn {
        position: fixed;
        top: 0px;
        left: -1000px;
        z-index: 99;
        width: 100vh;
        height: 100vh;
    }

    .aAvatar{
        font-size: 10px;
        right: -100px;
        bottom: 10px;
    }
}